* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h4,
h5 {
  text-align: center;
}

/* Colors */
:root {
  --brand-primary: #5CB570;
}

/* Header */

header,
footer,
main {
  padding: 0.5em;
}

body.hero main {
  padding: 0;
}

main {
  padding-top: 0;
}

header,
footer {
  background-color: var(--brand-primary);
}

header {
  padding: 1rem;
}

header h2,
header h3 {
  color: white;
  margin: 0 0 0.5rem 0;
  width: auto;
  text-align: left;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  min-height: 60px;
  width: 100%;
}

/* Hero */
#hero {
  margin: 0;
  height: 500px;
  padding: 0.2em;
  position: relative;
}


#hero blockquote {
  font-size: 1.5em;
  padding: 0.3em;
  color: var(--white);
  margin: auto;
  position: absolute;
  bottom: 12%;
  left: 60%;
  max-width: 700px;
}


.frontpage {
  background: #999999 url("../images/prairie-rain-storm.jpg") no-repeat center center / cover;
}


/* Nav */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

i.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--light);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

nav {
  width: 100%;
}
