* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h4,
h5 {
  text-align: center;
}

/* Colors */
:root {
  --brand-primary: #5CB570;
}

header,
footer {
  background-color: var(--brand-primary);
}

/* Nav */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

i.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--light);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

nav {
  width: 100%;
}
