* {
  box-sizing: border-box;
}


/* Global */
img[src$=".svg"] {
  max-width: 100%;
}

p img {
  margin: 0 1em;
}

.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

body {
  margin: 0;
}


section {
  margin: 0;
}

#hero {
  padding-top: 120px;
}

:root {
  scroll-behavior: auto;
}

a.section {
  position: relative;
  top: -150px;
  display: block;
  height: 0;
  width: 0;
}


/* Colors */
:root {
  --brand-primary: #61B670;
  --brand-secondary: #154475;
  --brand-secondary-dark: #0A2134;
  --black: #010101;
  --white: #F7F9FB;
}

.bg-secondary {
  background-color: var(--brand-secondary);
  color: var(--white);
}

.bg-gray {
  background-color: #aaa;
}

.bg-alice {
  background-color: aliceblue;
}

.bg-dark {
  background-color: var(--brand-secondary-dark);
  color: white;
}

svg .logo-fill {
  fill: var(--white);
}

a.site-logo svg .logo-fill {
  transition: all 0.3s;
}

a.site-logo:hover svg .logo-fill {
  fill: var(--brand-secondary);
}

svg .brand-secondary {
  fill: var(--brand-secondary);
}

svg .brand-secondary-dark {
  fill: var(--brand-secondary-dark);
}

a {
  color: var(--brand-secondary);
  transition: all 0.3s;
}

a:hover {
  color: var(--white);
}

/* Typography */


body {
  font-family: "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 1.6em;
  margin: 0.7em auto;
}

h2 {
  font-size: 1.4em;
  margin: 0.5em auto;
  text-align: center;
}

#hero h2 {
  text-align: left;
}

h3 {
  font-size: 1em;
  margin: 0.3em auto;
  text-align: center;
}

h4 {
  font-size: 0.6em;
}

h5 {
  font-size: 0.4em;
}

p,
ul,
h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  max-width: 55rem;
}

ul {
  font-size: 1.1em;
  padding-left: 0.6em;
}



/* Responsive Grid */

section {
  padding: 1em;
  min-height: 500px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.col-33 {
  min-width: 400px;
  max-width: 33%;
}

.card {
  margin: 1em;
  border-radius: 10px;
  padding-bottom: 1em;
}

.card .body {
  width: 100%;
  padding: 1em;
}

/* Header */

header,
footer,
main {
  padding: 0.5em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 120px;
}


/* Hero */
#hero {
  margin: 0;
  position: relative;
}


#hero blockquote {
  font-size: 1.5em;
  padding: 0.3em;
  color: var(--white);
  margin: auto;
  position: absolute;
  bottom: 12%;
  left: 60%;
  max-width: 700px;
}


.frontpage {
  background: var(--brand-secondary);
}

#hero>.row>.col {
  display: flex;
  align-items: center;
  justify-content: center;
}


#hero>.row .col:first-of-type img {
  width: 200px;
  margin: 0.6em auto;
}


#hero img {
  display: block;
  margin: 0 auto;
}

#hero img.showcase {
  max-height: 60vh;
  max-width: 90%;
  width: auto;
}

body.hero main {
  padding: 0;
  margin: 0;
}

body.hero main #hero {
  color: white;
}

#hero h3 {
  text-align: left;
}

/* Section Two */
.section-two {
  background-color: var(--white);
  background-image: url(../images/bicycle-pexels-pixabay-276517.jpg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* Contact Section */

.contact {
  background-color: var(--brand-secondary);
  color: var(--white);
  font-size: 1.2em;
}

#hdg-contact {
  margin-bottom: 3em;
}

.contact-info {
  margin: auto;
  max-width: 90%;
}

.contact-info a:hover {
  font-weight: bold;
  transition: all 0.3s;
}

.contact-info a {
  color: var(--white);
}

/* How Section */

.how .row .col {
  padding: 1.4em;
  margin: 0.4em;
  border-radius: 10px;
  border: 1px solid var(--brand-secondary);
  font-family: "Amatic SC", cursive;
  width: 100%;
}

.how h3 {
  font-size: 1.5em;
  margin: 0;
  text-align: left;
}

.how {
  font-size: 1.2em;
}

.how a:hover {
  transition: all 0.3s;
  color: var(--brand-primary);
}


main {
  padding-top: 0;
}

header,
footer {
  background-color: var(--brand-primary);
}

header {
  padding: 0.4rem 1rem;
}

header h2,
header h3 {
  color: white;
  margin: 0 0 0.5rem 0;
  width: auto;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  min-height: 60px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}


/* Main */
main {
  margin: 0.5em auto;
  min-height: 500px;
}


/* Nav */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
}

nav .menu {
  background-color: var(--brand-primary);
}

nav .menu a {
  color: white;
}

nav .menu a:hover {
  color: white;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

i.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--light);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

nav {
  width: 100%;
}

/* Media Queries */
/*
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

@media only screen and (min-width: 576px) {
  .contact {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 768px) {
  #hero>.row>.col {
    justify-content: center;
    max-width: 50%;
  }

  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 0.9em;
  }

  h5 {
    font-size: 0.6em;
  }

  ul,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    width: 90%;
    max-width: 55rem;
    margin: 0.7em auto;
  }

  ul {
    font-size: 1.3em;
    padding-left: 1.2em;
  }

  #hero>.row .col:first-of-type img {
    width: 170px;
    margin: 0.6em auto;
  }

  .contact-info {
    max-width: 70%;
  }

  .how .row .col {
    padding: 1.4em;
    margin: 0.6em;
    width: 40%;
  }

  .how h3 {
    font-size: 1.7em;
    margin: 0;
    text-align: left;
  }

  .how {
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 992px) {

  h1 {
    font-size: 2rem;
    margin: auto;
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.6rem;
    margin: auto;
    padding: 0.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.4rem;
    margin: 1em auto;
    padding: 0.5rem;
    font-weight: 400;
  }

  #hero>.row .col:first-of-type img {
    width: 220px;
    margin: 0.6em auto;
  }

  ul {
    padding-left: 2em;
  }

  .contact-info {
    max-width: 60%;
    padding: 2em;
    border: 1px solid var(--white);
  }

  .who p {
    font-size: 1.3em;
  }

  .how .row .col {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1200px) {

  section {
    min-height: 100vh;
  }

  h1 {
    font-size: 2.7rem;
    margin: auto;
    padding: 0.5rem;
  }

  h2 {
    font-size: 3rem;
    margin: auto;
    padding: 0.5rem;
    font-weight: 400;
  }

  #hero h2 {
    font-size: 2.2rem;
  }

  #hero h3 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.9rem;
    margin: 1em auto;
    padding: 0.5rem;
    font-weight: 400;
  }

  #hero>.row .col:first-of-type img {
    width: 280px;
    margin: 0.6em auto;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4 {
    width: 70%;
    max-width: 55rem;
    margin: 1.4em auto;
  }

  .center {
    text-align: center;
  }

  main ul {
    margin-top: 1.5em;
    padding-left: 1.5em;
  }

  #hero {
    padding-top: calc(120px + 2em);
  }

  li {
    font-size: 1.8em;
  }

  .contact-info {
    max-width: 40%;
  }

  .how .row .col {
    padding: 1.7em;
    margin: 1.4em 0.6em;
    width: calc(33% - 1.2em);
  }

  .how h3 {
    font-size: 2em;
    margin: 0;
  }

  .how {
    font-size: 1.6em;
  }

  .who p {
    font-size: 1.5em;
  }

}
